{% for checklist in checklists %}
    <h2>{{ checklist.name }}</h2>
    {% if checklist.description %}{{ checklist.description|raw }}{% endif %}
    <hr/>
    <form data-request="onReloadChecklist" data-request-update="'{{ __SELF__ }}::checklist': '#checklist'">
        <div class="row">
            <div class="col-4">
                <label>Days</label>
                <input class="form-control" type="number" name="days" value="{{ days }}">
            </div>
            <div class="col-4">
                <label>Team Members</label>
                <input class="form-control" type="number" name="members" value="{{ members }}">
            </div>
            <div class="col-2">
                <label><br /></label>
                <button type="submit" class="btn btn-primary no-print" style="width: 100%;">Reload</button>
            </div>
            <div class="col-2">
                <label><br /></label>
                <a href="#" class="btn btn-primary no-print" style="width: 100%;" onclick="window.print();return false;">Print</a>
            </div>
        </div>
    </form>
    <br />
    <form>
        <input name="days" value="{{ days }}" type="hidden" />
        <input name="members" value="{{ members }}" type="hidden" />
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Amount</th>
            <th>Priority</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in checklist.items %}
            {% set item_amount =  __SELF__.countAmount(item, days, members) %}
            <tr>
                <td>{{ loop.index }}</td>
                <td style="max-width: 30vw">
                    {{ item.name }}{% if item.description %}<br />
                        <div class="description">{{ item.description|raw }}</div>{% endif %}
                </td>
                <td>{{ item_amount }} {{ item.unit }}{% if item.unit and item_amount > 1 %}s{% endif %}</td>
                <td>{{ __SELF__.getPriorityLabel(item.priority) }}</td>
                <td><input data-request-update="'{{ __SELF__ }}::checklist': '#checklist'"
                           data-request="onSetSessionList"
                           data-track-input type="checkbox"
                           class="no-print" name="item-checkbox[{{ item.id }}]"
                    {% if __SELF__.setInSession(item.id) %}checked{% endif %}
                    />
                    <div class="print-only check-square">{% if __SELF__.setInSession(item.id) %}<div class="checked-square">X</div>{% endif %}</div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

{% endfor %}
<style>
    .checked-square {
      text-align: center;
      margin-top: -3px;
      font-size: 1rem;
    }
    @media print {
      .description a, .description * a {
        display: none;
      }
    }
</style>
