<div class="container-fluid doomguard-container" id="checklist">
   {% partial __SELF__ ~ "::checklist" %}
</div>
<style>
    .description, .description * {
      font-size: 10px;
      font-weight: normal;
      font-family: Arial;
    }
    .check-square {
      width: 16px;
      height: 16px;
      border: 1px solid #FFF;
    }
    @media print {
      .check-square {
        border: 1px solid #000;
      }
    }

</style>
